.scrollable {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    padding: 0.5em;
    height: 500px;
}

.scrollable table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #eaeaea;
}

.scrollable th,
.scrollable td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}

.scrollable tr:first-child {
    border-top: 1px solid #eaeaea;
}

.scrollable tr:hover {
    background-color: #f5f5f5;
}

a.no-decoration {
    color: inherit;
}

.h3-bold {
    font-weight: 600;
}

.light-font {
    font-weight: 200;
    color: rgb(98, 97, 97);
}