{% extends 'uploader.html' %}
{% load static %}

{% block title %}
<title>Data Stats</title>
{% endblock %}

{% block dependencies %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="{% static 'css/data_stats.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid full-height" style="padding-top: 130px;">

    <div class="row">
        <div class="col-8 mx-auto">

            <div class="col-12">
                <div>
                    <h3 class="h3-bold">{{ file_name }} <span class="light-font">({{ file_size }} MB)</span></h3>
                </div>

                <div class="mx-auto text-center">
                    <div class="scrollable">
                        <table class="dataframe">
                            <thead>
                                <tr style="text-align: right;">
                                    <th></th>
                                    {% for column_name in column_names %}
                                    <th>{{ column_name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, values in df_head_records.items %}
                                <tr>
                                    <th>{{ id }}</th>
                                    {% for key, value in values.items %}
                                    <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('.scrollable').on('scroll', function () {
                            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                                console.log("You've reached the bottom of the scrollable element!");


                                // $(document).ready(function () {
                                //     var start = 0;
                                //     var length = 20;
                                //     $('.scrollable').on('scroll', function () {
                                //         if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                                //             console.log("You've reached the bottom of the scrollable element!");
                                //             $.get('/more_data/', { start: start }, function (data) {
                                //                 data.forEach(function (row) {
                                //                     // Add a new row to the table for each data item
                                //                     var newRow = '<tr>';
                                //                     for (var key in row) {
                                //                         newRow += '<td>' + row[key] + '</td>';
                                //                     }
                                //                     newRow += '</tr>';
                                //                     $('#data-table').append(newRow);
                                //                 });
                                //                 start += length;
                                //             });
                                //         }
                                //     });
                                // });


                            }
                        });
                    });
                </script>

                <h3 class="mt-5">You can go back to our <a class="no-decoration"
                        href="{% url 'uploader' %}">Homepage</a></h3>

            </div>

        </div>
    </div>

</div>

{% endblock content %}