{% extends 'uploader.html' %}
{% load static %}

{% block title %}
<title>Data Stats</title>
{% endblock %}

{% block dependencies %}
<link rel="stylesheet" href="{% static 'css/data-stats.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/data-stats.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid full-height" style="padding-top: 130px;">

    <div class="row">
        <div class="col-8 mx-auto">

            <div class="col-12">
                <div>
                    <h3 class="h3-bold">{{ file_name }} <span class="light-font">({{ file_size }} MB)</span></h3>
                </div>

                <div class="mx-auto text-center">
                    <div class="scrollable">
                        <table class="dataframe" id="data-table">
                            <thead>
                                <tr style="text-align: right;">
                                    <th></th>
                                    {% for column_name in column_names %}
                                    <th>{{ column_name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, values in df_head_records.items %}
                                <tr>
                                    <th>{{ id }}</th>
                                    {% for key, value in values.items %}
                                    <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <script>
                    let start = 20;
                    let length = 20;
                    let folder_name = "{{ folder_name|escapejs  }}";
                    let num_rows = "{{ num_rows|escapejs  }}";
                </script>

                <h3 class="mt-5">You can go back to our <a class="no-decoration"
                        href="{% url 'uploader' %}">Homepage</a></h3>

            </div>

        </div>
    </div>

</div>

{% endblock content %}